.temp-node {
    .temp-node-list {
        position: relative;
        .temp-node-row {
            white-space: nowrap;
            font-size: 0;
            position: relative;
            .temp-node-col {
                display: inline-block;
                position: relative;
                background-size: cover;
                background-position: center center;
                white-space: nowrap;
                font-size: 0;
                vertical-align: top;
                img {
                    max-width: 100%;
                    display: block;
                }
            }
        }
    }
}