#DrawMoneyInfo {
    .body {
        background-color: #ffffff;
        margin-bottom: 8px;
        padding: 10px;
        .header {
            color: #777777;
            font-size: 14px;
        }
        .money-box {
            color: #666;
            padding: 10px 0;
            .icon {
                font-size: 15px;
                font-weight: bold;
                display: inline-block;
                vertical-align: bottom;
            }
            .money {
                font-size: 20px;
                font-weight: bold;
                display: inline-block;
                vertical-align: bottom;
            }
            .state {
                float: right;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .time {
            color: #777;
        }
    }
    .reason {
        background-color: #ffffff;
        padding: 10px;
        color: #777;
        font-size: 14px;
        .title {
            margin-bottom: 10px;
        }
        .box {}
    }
}