$opacity: 0.9;
.dynamic-tool {
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    * {
        box-sizing: border-box;
    }
    .dynamic-tool-item {
        display: inline-block;
        width: 50%;
        line-height: 21px;
        height: 21px;
        text-align: center;
        border-right: solid 1px #ddd;
        &:last-child {
            border: none;
        }
        .icon {}
    }
    .line {
        display: inline-block;
        width: 0;
        border-left: solid 1px #eee;
        height: 20px;
        opacity: $opacity;
    }
}